@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

*{
   padding: 0;
   margin: 0;
   box-sizing:border-box; 
   font-family: 'Roboto', sans-serif;
}


nav{
    height:70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    background-color: teal;
}

header{
    background-color:#985bf3;
    height: calc(100vh - 70px) ;
    padding: 24px;
    display: flex;
    align-items:center;
    justify-content: center;

}
h1{
    font-size: 72px;
}

.subheader{
    font-size: 36px;
    margin: 16px 0px 24px 0px;
}

button{
    background-color: rgb(28, 114, 196);
    color: aquamarine;
    border: none;
    padding: 8px 18px;
    font-size: 24px;
    cursor: pointer;
}

a{
    color:black;
    font-size: 24px;
    font-weight:700;
}

.logo{
    width: 300px;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
    padding-left: 16px;
}

.row {
    width: 100%;
    max-width: 1300px;
    /*For capping width*/
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;
    
}
/*All*/
footer,
#contact,
#discord,
#about{

/*ABOUT*/


    padding: 40px 0;
}

#about{
    background-color: rgb(231, 230, 164);}

h2{
    font-size: 60px;
    text-align: center;
    margin-bottom: 24px; ;
}

.section__description {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__img--wrapper {
    width: 40%;
}

 img{
    width:100%;
 }

 .section__description--wrapper{
    width: 60%;
   
 }
 .about__img--wrapper,
 .section__description--wrapper{
     padding: 0 24px;
 }

 .section__description--para{
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 24px;

 }

 /*Discord*/

 #discord{
    background-color: #86d2e6;
 }

 /*contact*/

 #contact{
    background-color: #985bf3;
    /*
    display: flex;
    flex-direction: column;
    align-items: center;  Same thing as margin: 0 auto */ 
 }

  form{
    display: flex;
    flex-direction: column;
    max-width: 600px;
    /*for centering*/
    margin: 0 auto;
  /*flex-direction:cloumn*/}

  input, textarea{
    margin-bottom: 24px;
    font-size: 20px;
    padding: 6px 12px;
  }


   /*footer*/


   footer{
    background-color: teal;

    /*FOR CENTERING FOOTER*/
    display: flex;
    flex-direction: column;
    align-items: center;

   }

.footer__logo{
    max-width: 480px;
    margin-bottom:16px

}

.footer__links{
    margin-bottom: 32px;
}

.footer__link {
    padding: 0 16px;
}